.main {
  width: 100%;
  height: 100%;
}
.main-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  margin: 2rem 0 3rem 5rem;
  gap: 1rem;
  width: 85%;
  padding-bottom: 3rem;
}

.main-content-heading {
  margin-top: 2rem;
  font-size: 2.5rem;
  font-weight: 600;
  color: #3e74de;
  margin-bottom: 2rem;
  /* align-self: center; */
}
