.main {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    height: 19rem;
    width: 22rem;
    align-items: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    transition: 0.1s ease-in-out;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2); */
    overflow: none;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%233E74DEFF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='14' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 12px;
    justify-content: space-evenly;
  }
  
  .main:hover {
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4); */
  }
  
  .main img {
    width: 30%;
  
    object-fit: cover;
    border-radius: 12px;
  }
  
  .main button {
    border-radius: 0.5rem;
    padding: 0.9rem 3.8rem;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    background-color: #3e74de;
    color: #fff;
    border: 1px solid #3e74de;
  }
  
  .main span {
    font-size: 1.2rem;
    font-weight: 600;
  }
  