.main {
  width: 100%;
  height: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  width: 100%;
  height: max-content;
}

.main-content-heading {
  margin-top: 2rem;
  font-size: 2.5rem;
  font-weight: 600;
  color: #3e74de;
  margin-bottom: 2rem;
}

.table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  background-color: #f2f2f2;
  text-align: left;
}

.table td ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.table td ul li {
  margin: 5px 0;
}

.table button {
  margin-right: 10px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
}

.table button:hover {
  background-color: #45a049;
}

.table button:last-child {
  background-color: #f44336;
}

.table button:last-child:hover {
  background-color: #e53935;
}

.deleteButton {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.deleteButton:disabled {
  background-color: #e0e0e0;
  color: #a0a0a0;
  cursor: not-allowed;
}
